<!doctype html>
<head>
  <!-- The following line is for Google AdSense. -->
  <script data-ad-client="ca-pub-6896093529276182" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<!-- From https://www.w3schools.com/css/css_rwd_viewport.asp: -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script>
// Cookie Compliancy BEGIN
// Code from:
// https://html-online.com/articles/cookie-warning-widget-with-javascript/  
function GetCookie(name) {
  var arg=name+"=";
  var alen=arg.length;
  var clen=document.cookie.length;
  var i=0;
  while (i<clen) {
	var j=i+alen;
	if (document.cookie.substring(i,j)==arg)
	  return "here";
	i=document.cookie.indexOf(" ",i)+1;
	if (i==0) break;
  }
  return null;
}
function testFirstCookie(){
	var offset = new Date().getTimezoneOffset();
	if ((offset >= -180) && (offset <= 0)) { // European time zones
		var visit=GetCookie("cookieCompliancyAccepted");
		if (visit==null){
		   $("#myCookieConsent").fadeIn(400);	// Show warning
	   } else {
			// Already accepted
	   }		
	}
}
$(document).ready(function(){
    $("#cookieButton").click(function(){
		console.log('Understood');
		var expire=new Date();
		expire=new Date(expire.getTime()+7776000000);
		document.cookie="cookieCompliancyAccepted=here; expires="+expire+";path=/";
        $("#myCookieConsent").hide(400);
    });
	testFirstCookie();
});
// Cookie Compliancy END
  
</script>

<body>
  <header>
    <title>{% block title %}Welcome{% endblock %} — Python V&auml;rmland</title>
    <h1>Python V&auml;rmland</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog',      'Blog'],
          ['/community', 'Community'],
          ['/tutorials', 'Tutorials'],
          ['/meetups',   'Meetups'],
          ['/staff',     'Staff'],
          ['/privacy',   'Privacy'],
         ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2020 by Christer Enfors.
  </footer>
  <div id="myCookieConsent">
    <a id="cookieButton">Understood</a>
    <div>This&nbsp;website is&nbsp;using&nbsp;cookies.
      <a href="/privacy/">
        More&nbsp;details</a></div>
  </div>
</body>
